<% if @user.id = current_user.id? %>
<%= render "public/users/leftbar", me: current_user %>
<% else %>
<%= render "public/users/show_leftbar", me: @user %>
<% end %>
<% if @users.count > 0 %>
  <%= render "follow", users: @users %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>