<%= render "public/users/leftbar", me: current_user %>

<div class="content">
<% notice = @notice.where.not(visitor_id: current_user.id) %>
<% if notice.exists? %>
	<%= render "notice", notices: @notice %>
<% else %>
	<p>No notification !</p>
<% end %>
</div>