/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


* {
	font-family: "Hiragino Maru Gothic ProN";
	color: #432f2f;
	word-break: break-all;
}

header {
	background-color: #a0522d;
	position: fixed;
	display: flex;
	width: 100%;
	z-index: 20;
}
body {
	height: 100%;
	background-color: #ffefd5;
}

body a{
	color: #8c6540;
}

.body {
	padding-top: 170px;
	height: 100%;
}

.col-xs-3 {
	position: fixed;
	z-index: 10;
}

.content {
	padding-left: 30%;
	posion: relative;
}

.murmur {
	padding-bottom: 50px;
}

.tag {
	margin: 30px;
}

h3 {
	margin-bottom: 40px;
}

li a {
	color: #ffdead;
	font-family: "arial black";
}

.edit {
	margin: 0 20%;
}

.withdraw {
	margin-top: 200px;
	color: #ce5242;
	font-size: large;
}

.center {
	margin: 0 auto;
}

.menu-bar {
	font-size: large;
	text-align: center;
}

.bar-list {
	margin: 0 10px 0 0px;
}