<div class="menu-bar">
	<%= link_to "Back" %>
	<%= link_to "My Post", users_mypage_path(current_user.friendly_url) %>
	<%= link_to "Follow Post"  %>
	<%= link_to "Favorite Post", users_favoindex_path(me.friendly_url) %>
</div>