<div class="menu-bar slide-menu">
	<%= link_to "Back", :back %>
	<%= link_to "My Post", users_mypage_path(current_user.friendly_url) %>
	<%= link_to "Follow Post", users_followpost_path(current_user.friendly_url) %>
	<%= link_to "Favorite Post", users_favoindex_path(me.friendly_url) %>
</div>