<%= render "leftbar", me: current_user %>
<div class="col-xs-9 content">
	<%= render "public/posts/post_form", post: @post %>
	<%= render "public/users/menubar", me: current_user %>
	<% if @user.favorites.count > 0 %>
		<%= render "favo_post", favorites: @favorites %>
	<% else %>
		<p>Let's discover Favorite !</p>
	<% end %>
</div>