<%= render "leftbar", me: current_user %>
<div class="col-xs-9 content">
<%= render "public/posts/post_form", post: @post %>
<%= render "public/users/menubar", me: current_user %>
<%= render "public/posts/index", posts: current_user.posts %>
</div>